.Hero {
  background-color: #f6da55;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  position: relative;
  background-position: center;
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  opacity: 1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.Hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Images/ecommerce-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 10px;
  transition: opacity 0.3s;
  /* background-color: #f6da55; */
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  margin-top: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}

.Head {
  z-index: 999;
  opacity: 1;
  position: relative;
  width: 100%;
  height: 80vh;
  /* margin-left: 1%; */
  border: 2px solid black;
  margin-bottom: 50px;
  background-color: #e6d0f7;
  overflow: hidden;
  background-image: url(../Images/ecombg.jpg);
  background-size: cover;
}

.Head h1 {
  font-size: 4rem;
  color: rgb(0, 0, 0);
  font-family: "MyFont1";
  margin-top: 30px;
  font-weight: 100;
  background-color: #fd5c02;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 5px; /* Adds gap to the left */
  padding-right: 5px; /* Adds gap to the right */
  padding-top: 5px; /* Optional: Adds gap above */
  padding-bottom: 5px; /* Optional: Adds gap below */
  width: fit-content;
  margin-left: 10%;
  position: relative;
}

.Head p {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-family: "MyFont";
  margin-top: 6px;
  text-align: left;
  font-weight: 100;
  width: 48%;
  line-height: 30px;
  margin-left: 15px;
  border-radius: 10px;
  padding: 5px 0px;
}

.button {
  width: 30%;
  margin-top: 2%;
  margin-left: -2%;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 12px 27px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background-color: #000000;
  cursor: pointer;
  transition: ease-out 0.5s;
}

.btn.btn-border-4::after,
.btn.btn-border-4::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: 0.5s;
}

.btn.btn-border-4::after {
  top: 1px;
  left: 2px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

.btn.btn-border-4::before {
  bottom: -1px;
  right: -1px;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}

.btn.btn-border-4:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  transition: 0.2s 0.1s;
}

.btn.btn-border-4:hover::after,
.btn.btn-border-4:hover::before {
  width: calc(100% + -1px);
  height: calc(100% + -1px);
  border-color: #222222;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
  border-radius: 10px;
  margin-left: 5%;
  margin-bottom: 50px;
  background-color: white;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.top-left,
.top-right {
  width: 130%;
  height: 100vh;
  position: absolute;
  transition: transform 1s ease;
  z-index: 1;
}

/* Left Panel */
.top-left {
  background-color: #90d6e9;
  left: -50%;
  transform: translateX(0);
  margin-top: -30px;
}

.top-right {
  background-color: #86d293;
  right: -50%;
  transform: rotate(-45deg) translateX(0);
  margin-top: 30px;
}

@media (max-width: 1430px) {
  .Head p {
    font-size: 0.9rem;
    width: 42%;
    margin-top: 10px;
  }
}

@media (max-width: 1320px) {
  .Head p {
    font-size: 0.9rem;
    width: 50%;
    margin-top: 10px;
  }
}

@media (max-width: 1250px) {
  .Head p {
    font-size: 0.9rem;
    width: 60%;
    margin-top: 10px;
  }
}

@media (max-width: 1090px) {
  .Head p {
    font-size: 0.9rem;
    width: 60%;
    margin-top: 10px;
  }

  .button {
    width: 40%;
    margin-top: 2%;
    margin-left: 1%;
  }
}

@media (max-width: 970px) {
  .Head p {
    font-size: 0.9rem;
    width: 70%;
    margin-top: 10px;
  }
}

/* @media (min-width: 860px) {

  .Head h1{
    width :40%;
  }
} */

@media (max-width: 785px) {
  .Head p {
    font-size: 0.9rem;
    width: 80%;
    margin-top: 10px;
  }

  .button {
    width: 40%;
    margin-top: 2%;
    margin-left: 2%;
  }
}

@media (max-width: 690px) {
  .Head p {
    font-size: 0.9rem;
    width: 90%;
    margin-top: 10px;
  }
}

@media (max-width: 620px) {
  .Head p {
    font-size: 0.9rem;
    width: 85%;
    margin-top: 10px;
    height: 300px;
    line-height: 25px;
  }

  .button {
    left: 10%;
  }
}

@media (max-width: 591px) {
  .button {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .button {
    width: 50%;
    margin-left: 5%;
    margin-top: 50px;
  }
}

@media (max-width: 472px) {
  .button {
    width: 60%;
    margin-left: 6%;
    margin-top: 50px;
  }
}

@media (max-width: 433px) {
  .button {
    width: 60%;
    margin-left: 6%;
    margin-top: 90px;
  }

  .Head p {
    width: 90%;
    margin-left: 20px;
  }

  .Head h1 {
    width: 90%;
    margin-left: 20px;
  }
}

@media (max-width: 428px) {
  .Head h1 {
    width: 80%;
    font-size: 3.5rem;
    margin-left: 40px;
  }
}

@media (max-width: 422px) {
  .Head h1 {
    width: 78%;
    font-size: 3.2rem;
    margin-left: 40px;
  }
}

@media (max-width: 393px) {
  .Head h1 {
    width: 82%;
    font-size: 3rem;
    margin-left: 40px;
  }

  .button {
    width: 70%;
  }
}

@media (max-width: 340px) {
  .button {
    width: 80%;
  }
}

@media (max-width: 338px) {
  .button {
    width: 90%;
    margin-left: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 350px) {
  .Head h1 {
    font-size: 3rem;
    width: 90%;
    margin-left: 20px;
  }
}

/* ---------------------------------------------------------------- second one --------------------------------------------------------------------- */

@media (max-width: 1230px) {
  .top-left {
    margin-top: -120px;
  }

  .top-right {
    margin-top: 115px;
  }
}

@media (max-width: 1150px) {
  .top-left {
    margin-top: -115px;
  }

  .top-right {
    margin-top: 115px;
  }
}

@media (max-width: 1150px) {
  .top-left {
    margin-top: -115px;
  }

  .top-right {
    margin-top: 115px;
  }
}

@media (max-width: 1150px) {
  .top-left {
    margin-top: -115px;
  }

  .top-right {
    margin-top: 115px;
  }
}

@media (max-width: 1150px) {
  .top-left {
    margin-top: -115px;
  }

  .top-right {
    margin-top: 115px;
  }
}

@media (max-width: 1133px) {
  .top-left {
    margin-top: -115px;
  }

  .top-right {
    margin-top: 115px;
  }
}

@media (max-width: 1120px) {
  .top-left {
    margin-top: -128px;
  }

  .top-right {
    margin-top: 115px;
  }
}

@media (max-width: 970px) {
  .top-left {
    margin-top: -250px;
  }

  .top-right {
    margin-top: 250px;
  }
}
